 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 799px;
}

.u-section-1 .u-image-1 {
  width: 1514px;
  height: 751px;
  margin: 204px auto 0 -320px;
}

.u-section-1 .u-group-1 {
  width: 882px;
  min-height: 350px;
  height: auto;
  margin: -935px 67px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.u-section-1 .u-text-1 {
  margin: 52px -12px 0 -30px;
}

.u-section-1 .u-text-2 {
  width: auto;
  margin: 126px auto 60px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-1 .u-image-1 {
    width: 1098px;
    height: 506px;
    margin-top: 123px;
    margin-left: -158px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -629px;
    margin-right: -29px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 957px;
    height: 456px;
    margin-top: 157px;
    margin-left: -172px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -613px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-1 .u-image-1 {
    height: 322px;
    width: 647px;
    margin-top: 104px;
    margin-left: -107px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -434px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 39px;
    margin-left: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-1 .u-image-1 {
    height: 273px;
    width: 520px;
    margin-top: 101px;
    margin-left: -146px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin: -436px -27px 0 auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 14px;
    margin-right: 26px;
    margin-left: -44px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -210px;
    margin-right: -762px;
    margin-left: 722px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1391px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 481px;
  height: 991px;
  margin: 156px auto 0 -128px;
}

.u-section-2 .u-text-1 {
  margin: -980px -136px 60px 377px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1748px;
  }

  .u-section-2 .u-image-1 {
    width: 444px;
    height: 946px;
    margin-top: 773px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -1356px;
    margin-right: -30px;
    margin-left: 391px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2076px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 1090px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -1443px;
    margin-right: 1px;
    margin-left: -14px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1594px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 618px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -1359px;
    margin-right: -30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-2 .u-image-1 {
    height: 550px;
    width: 267px;
    margin-top: 243px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -787px;
    margin-right: -78px;
    margin-left: 94px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1346px;
}

.u-section-3 .u-text-1 {
  margin: 340px auto 0 0;
}

.u-section-3 .u-image-1 {
  height: 369px;
  width: 1533px;
  margin: 8px auto 0 -145px;
}

.u-section-3 .u-image-2 {
  width: 469px;
  height: 500px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-3 {
  width: 646px;
  height: 464px;
  margin: -482px 0 43px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1222px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 152px;
    margin-left: 14px;
  }

  .u-section-3 .u-image-1 {
    height: 253px;
    width: 1121px;
    margin-top: 43px;
    margin-left: -50px;
  }

  .u-section-3 .u-image-2 {
    width: 383px;
    height: 456px;
    margin-top: 54px;
  }

  .u-section-3 .u-image-3 {
    width: 551px;
    height: 427px;
    margin-top: -456px;
    margin-right: -16px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 91px;
    margin-left: 46px;
  }

  .u-section-3 .u-image-1 {
    height: 162px;
    width: 720px;
    margin-top: 31px;
    margin-right: -16px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    width: 251px;
    height: 299px;
    margin-top: 30px;
    margin-left: 16px;
  }

  .u-section-3 .u-image-3 {
    width: 400px;
    height: 266px;
    margin-top: -299px;
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2179px;
  }

  .u-section-3 .u-image-1 {
    height: 130px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: 45px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: 0;
    margin-right: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 72px;
    margin-left: 16px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 796px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    margin-top: -853px;
    margin-left: 29px;
  }

  .u-section-3 .u-image-3 {
    height: 226px;
    margin-top: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 883px;
}

.u-section-4 .u-image-1 {
  width: 795px;
  height: 466px;
  margin: 29px auto 0;
}

.u-section-4 .u-text-1 {
  margin: 0 auto 60px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 422px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 317px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-4 .u-image-1 {
    height: 261px;
    margin-top: 59px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 39px;
    margin-left: 32px;
    margin-right: 32px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1848px;
}

.u-section-5 .u-text-1 {
  margin: 50px 375px 0 0;
}

.u-section-5 .u-image-1 {
  width: 275px;
  height: 562px;
  margin: 166px auto 0 403px;
}

.u-section-5 .u-image-2 {
  width: 275px;
  height: 562px;
  margin: -562px auto 0 0;
}

.u-section-5 .u-image-3 {
  width: 275px;
  height: 562px;
  margin: -562px 0 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 50px 0 0 834px;
}

.u-section-5 .u-text-3 {
  margin: -252px 390px 0 370px;
}

.u-section-5 .u-text-4 {
  margin: -168px 820px 60px 0;
}

.u-section-5 .u-text-5 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 60px;
}

.u-section-5 .u-text-6 {
  width: 231px;
  font-style: italic;
  margin: 669px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 58px;
    margin-right: 175px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 162px;
    margin-left: auto;
  }

  .u-section-5 .u-image-2 {
    margin-left: -22px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 4px;
    margin-left: 634px;
  }

  .u-section-5 .u-text-3 {
    width: 257px;
    margin-top: 52px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: -280px;
    margin-right: 709px;
    margin-bottom: 0;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: -280px;
    margin-right: 0;
    margin-left: 700px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-top: 340px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    margin-top: 1042px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -1544px;
    margin-left: 208px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -850px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 0;
    margin-left: 414px;
  }

  .u-section-5 .u-text-3 {
    width: 300px;
    margin-top: 1862px;
  }

  .u-section-5 .u-text-4 {
    width: 231px;
    margin-top: -2040px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-5 {
    margin-left: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: 199px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 1251px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -1657px;
    margin-left: 111px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -650px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 234px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 1764px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin: -1961px 177px 60px 133px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2431px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 95px;
    margin-right: -31px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 1172px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -1596px;
    margin-left: auto;
  }

  .u-section-5 .u-image-3 {
    margin-top: -386px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 34px;
  }

  .u-section-5 .u-text-3 {
    width: 257px;
    margin-top: 1110px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -1347px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 100px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1093px;
}

.u-section-6 .u-image-1 {
  width: 279px;
  height: 570px;
  margin: 100px auto 0;
}

.u-section-6 .u-text-1 {
  width: auto;
  margin: -28px auto 0;
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: 331px;
    margin-top: 40px;
    margin-bottom: 56px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    height: 571px;
  }

  .u-section-6 .u-text-1 {
    width: 302px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: auto;
    margin: 60px 19px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1468px;
}

.u-section-7 .u-image-1 {
  width: 826px;
  height: 707px;
  margin: 64px auto 0;
}

.u-section-7 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 99px auto 60px;
  padding: 10px 239px 10px 238px;
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1377px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 616px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1223px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 462px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 85px;
    padding-right: 147px;
    padding-left: 145px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 291px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 54px;
    padding-right: 47px;
    padding-left: 45px;
  }
}